footer {
  height: 581px;
}

footer .email {
  display: flex;

  height: 190px;
}

footer h3 {
  display: inline-block;

  width: 393px;
  margin-top: 55px;
  margin-left: 55px;
}

footer .input-block {
  display: inline-block;

  margin-top: 38px;
  margin-left: 122px;
}

footer .input-block p:nth-of-type(1) {
  font-size: 18px;
}

footer .input-block .input-inline {
  display: flex;

  margin-top: 9px;
}

footer .input-block input {
  width: 423px;
  height: 50px;

  text-indent: 15px;
}

footer .input-block input::placeholder {
  color: #757575;
  font-size: 13.1px;
}

footer .input-block button {
  position: relative;

  display: inline-block;

  width: 70px;
  height: 50px;

  margin-left: -8px;
}

footer .input-block button::before {
  position: absolute;
  top: 15px;
  left: 25px;

  width: 20px;
  height: 20px;

  background-image: url(../imgs/send.svg);

  background-repeat: no-repeat;
  background-size: cover;

  content: '';
}

footer .input-block button:hover {
  background: #ea7600;
  cursor: pointer;
}

footer .input-block p:nth-of-type(2) {
  font-size: 12px;
}

footer .credits {
  margin-top: 16px;

  font-size: 14px;
  text-align: center;
}

footer .credits:first-of-type {
  margin-top: 76px;
}

u {
  color: #1085c5;

  text-decoration: underline;
}
