.illusion {
  position: relative;
}

.illusion .container {
  padding-bottom: 100px;
}

.illusion img {
  width: 578px;
  height: 434px;

  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

.illusion .headers {
  width: 502px;
}

.illusion h3 {
  margin-top: 30px;
}

.illusion .body {
  margin-top: 100px;
}

.illusion .body-meaning {
  display: flex;
  align-items: center;

  height: 26px;
  padding-left: 10px;
}

.illusion .body-content {
  height: 125px;
  margin-top: 20px;
}

/* ikea */
.illusion .illusion.illusion#ikea-effect::before {
  position: absolute;

  width: 100%;
  height: 960px;

  background-image: url(../imgs/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;

  /* dirty fix */
  content: '';
}

/* optimization */
.illusion #premature-optimization::before {
  position: absolute;

  width: 100%;
  height: 960px;

  background-image: url(../imgs/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;

  /* dirty fix */
  content: '';
}

/* distortion-of-novelty */
.illusion #distortion-of-novelty::before {
  position: absolute;

  width: 100%;
  height: 960px;

  background-image: url(../imgs/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;

  /* dirty fix */
  content: '';
}

/* hyperbolic-depreciation */
.illusion #hyperbolic-depreciation::before {
  position: absolute;

  width: 100%;
  height: 960px;

  background-image: url(../imgs/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;

  /* dirty fix */
  content: '';
}

/* hyperbolic-depreciation */
.illusion #errors-in-planning::before {
  position: absolute;

  width: 100%;
  height: 809px;

  background-image: url(../imgs/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;

  /* dirty fix */
  content: '';
}
