/* list of illusions */
section {
  padding-top: 100px;
  padding-bottom: 100px;
}

section > div {
  padding-left: 165px;
}

section > div:nth-of-type(3) > ul, p {
  margin: revert;
  padding: revert;
}

section > div > h1, h2, h3 {
  margin-bottom: 30px;
}

.header-flex {
  display: flex;
  gap: 30px;
  max-width: 1110px;
}

.header-flex-dark {
  flex-direction: row-reverse;
}

.header-flex > img {
  width: 578px;

  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

.header-flex > div {
  width: 502px;
}

.header-flex > div > span {
  color: #908d8b;
  font-size: 24px;
  font-family: 'Neucha', sans-serif;
  line-height: 28.8px;
}

.header-flex-dark > * {
  color: white;
}

.header-flex-dark > div > span {
  color: #d7ccc0;
}

.header-flex > div > p {
  font-size: 34px;
  font-family: 'Neucha', sans-serif;
  line-height: 40.8px;
}

.content {
  width: 1100px;
  max-width: 1110px;
}

.content > h4 {
  margin-top: 100px;
  margin-bottom: 20px;

  padding: 5px 10px;

  font-size: 14px;
  line-height: 17px;

  background: #b09a81;
}

.content-dark > h4 {
  color: #b09a81;

  background: #fff;
}

.content > div {
  column-count: 2;
  column-gap: 30px;
}

.content > div > p {
  width: 540px;
  break-inside: avoid;
}

.content-dark > div > p {
  color: white;
}

/* ikea */
#ikea-effect::before {
  position: absolute;

  width: 100%;
  height: 960px;

  background-image: url(../imgs/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;

  /* dirty fix */
  content: '';
}

#ikea-effect {
  position: relative;
  width: 100%;

  background: #f5f4f0;
}

/* optimization */
#premature-optimization::before {
  position: absolute;

  width: 100%;
  height: 960px;

  background-image: url(../imgs/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;

  /* dirty fix */
  content: '';
}

#premature-optimization {
  position: relative;
  width: 100%;
  margin-top: -55px;

  background: #b09a81;
}

/* distortion-of-novelty */
#distortion-of-novelty::before {
  position: absolute;

  width: 100%;
  height: 960px;

  background-image: url(../imgs/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;

  /* dirty fix */
  content: '';
}

#distortion-of-novelty {
  position: relative;
  width: 100%;

  background: #f5f4f0;
}

/* hyperbolic-depreciation */
#hyperbolic-depreciation::before {
  position: absolute;

  width: 100%;
  height: 960px;

  background-image: url(../imgs/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;

  /* dirty fix */
  content: '';
}

#hyperbolic-depreciation {
  position: relative;
  width: 100%;

  background: #b09a81;
}

/* hyperbolic-depreciation */
#errors-in-planning::before {
  position: absolute;

  width: 100%;
  height: 809px;

  background-image: url(../imgs/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;

  /* dirty fix */
  content: '';
}

#errors-in-planning {
  position: relative;
  width: 100%;

  background: #f5f4f0;
}
