#navigation {
  position: relative;

  height: 991px;

  padding-top: 100px;

  background: #42413c;
}

#navigation .container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

#navigation h2 {
  font-size: 52px;
  white-space: nowrap;
}

#navigation .card {
  width: 350px;
  height: 323px;
}

#navigation .card.card-second-line {
  height: 348px;
}

#navigation .card.card-container {
  padding: 24px;
}

#navigation .card .card-number {
  font-size: 64px;
  font-family: 'Neucha', sans-serif;
  line-height: 64px;
}

#navigation .card h3 {

  margin-top: 40px;

  font-size: 34px;
  line-height: 40.8px;
}

#navigation .card .card-description {

  margin-top: 16px;

  font-size: 16px;
  line-height: 25.6px;
}

#navigation .card.card-container:hover {
  background-color: #fe8a02;
}

#navigation .card.card-container:hover .card-number,
#navigation .card.card-container:hover h3,
#navigation .card.card-container:hover .card-description {
  color: white;
}
