#video {
  position: relative;

  /*height: 814px;
  max-height: 814px;*/
  height: 794px;
  max-height: 794px;

  background: white;
}

#video p {
  margin-top: 27px;
}

#video iframe {
  position: relative;
  z-index: 10;

  display: block;
  width: 919px;
  height: 569px;
  margin: 0 auto;
  margin-top: 30px;

  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}
