#video {
  position: relative;

  /* height: 814px;
  max-height: 814px; */
  height: 804px;
  max-height: 804px;
}

#video p {
  margin-top: 27px;
}

#video iframe {
  position: absolute;
  top: 329px;
  left: calc(261px - 165px);
  z-index: 10;

  width: 919px;
  height: 569px;

  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}
